.select-carrier
  margin-left 10px

.flight-schedule
  display flex
  flex-flow column nowrap
  justify-content space-between
  margin 5px
  max-width 1000px
  &-row
    display flex
    flex-flow row nowrap
  &-item
    display flex
    flex-direction column
    flex-grow 1
    flex-basis 0
    padding 5px
    &__title
      text-decoration underline
